<p>todo works!</p>
<div class="container">
    <h1>Todo List</h1>
    <div class="form">
      <input type="text" [(ngModel)]="newTask" placeholder="Add new task...">
      <button (click)="addTask()">Add</button>
    </div>
    <ul>
      <li *ngFor="let task of tasks" [ngClass]="{ 'completed': task.completed }">
        <input type="checkbox" [(ngModel)]="task.completed" (ngModelchange)="updateTask(task)">
        <span>{{ task.text }}</span>
        <button (click)="removeTask(task.id)">Remove</button>
      </li>
    </ul>
  </div>
  